body {
        background-color: lightgrey;
        font-family: monospace;
        color:darkblue;
}    

h1, h2, h3 {
        color:maroon;
}

tr, td {
        align-items: center;
        text-align: center;
}
